<section>
  <article>
    <%= anchor_title 'Adicionar um evento' %>
    <p>
      Você pode adicionar um evento ao calendário a partir da rota
      <span>/v1/events</span> com o método <span>POST</span>.
    </p>
    <%= render 'events_params' %>
  </article>
  <aside>
    <h3>Exemplo de código</h3>
    <div class="code">
<pre class="curl">
  <code>
curl -X POST -F "event[title]=Sofia's birthday" -F "event[started_at]=2015-07-12T17:00:36-03:00" "<%= v1_events_url %>"
  </code>
</pre>
<pre class="ruby">
  <code>
require 'uri'
require 'net/http'

uri = URI('<%= v1_events_url %>')
params = {
  event: { title: "Sofia's birthday",
  started_at: '2015-07-12T17:00:36-03:00' }
}
puts Net::HTTP.post_form(uri, params)
  </code>
</pre>
<pre class="jquery">
  <code>
$.ajax({
  url: '<%= v1_events_url %>',
  data: {
    event: {
      title: "Sofia's birthday",
      started_at: '2015-07-12T17:00:36-03:00'
    }
  },
  dataType: 'json', method: 'POST'
}).done(function(json){
  console.log(json);
});
  </code>
</pre>
    </div>
  </aside>
</section>
