<section>
  <article>
    <%= anchor_title 'Atualizar um evento' %>
    <p>
      Também é possível atualizar um evento através da rota
      <span>/v1/events/<strong>:id</strong></span>, usando
      o método <span>PATCH</span> e referenciando o evento que deseja
      atualizar em <span><strong>:id</strong></span>.
    </p>
    <%= render 'events_params' %>
  </article>
  <aside>
    <h3>Exemplo de código</h3>
    <div class="code">
<pre class="curl">
  <code>
curl -X PATCH -F "event[description]=A philosophy party!" "<%= v1_event_url(1) %>"
  </code>
</pre>
<pre class="ruby">
  <code>
require 'uri'
require 'net/http'

uri = URI('<%= v1_event_url(1) %>')
params = URI.encode_www_form(event: { description: 'A philosophy party!' })
puts Net::HTTP.new(uri).patch('/', params)
  </code>
</pre>
<pre class="jquery">
  <code>
$.ajax({
  url: '<%= v1_event_url(1) %>',
  data: {
    event: {
      description: 'A philosophy party!'
    }
  },
  dataType: 'json', method: 'PATCH'
}).done(function(json){
  console.log(json);
});
  </code>
</pre>
    </div>
  </aside>
</section>
