<!DOCTYPE html>
<html>
<head>
  <title>rCalendar</title>
  <meta name="description" content="A simple and lean calendar api build with Ruby on Rails">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
